*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "./components/variables";
@import "./components/mixins";

html {
  background: $background;
  font-size: 10px;
  color: $white;
}

h1 {
  font-size: $base-font-size * 3.8;
  line-height: $base-font-size * 3.8;
}
h2 {
  font-size: $base-font-size * 2.4;
  line-height: $base-font-size * 2.4;
}
h3 {
  font-size: $base-font-size * 2.2;
  line-height: $base-font-size * 2.2;
}
h4 {
  font-size: $base-font-size * 2;
  line-height: $base-font-size * 2;
}
h5 {
  font-size: $base-font-size * 1.2;
  line-height: $base-font-size * 1.2;
}

h6 {
  font-size: $base-font-size;
  line-height: $base-font-size;
}

p {
  font-size: $base-font-size;
  line-height: $base-font-size;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid $white;
    padding: 0.5rem;
  }
}

input[type="text"],
input[type="password"],
input[type="number"] {
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem;
}

@import "./components/shell";
@import "./components/section";
@import "./components/header";
@import "./components/button";
@import "./components/hero";
@import "./components/popup";
@import "./components/product";
@import "./components/cart";
