.hero {
  position: relative;
  background: url(../images/grocery-store-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 385px;
  border-bottom: 10px solid $blue;

  display: flex;
  align-items: flex-end;

  h2 {
    text-shadow: 1px 1px 5px rgba($black, 0.8);
    margin-bottom: 2rem;
  }
}
