.popup-container {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  .form-container {
    background: $background;
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;

    h2 {
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      .validation-error {
        border: 2px solid orange;
        padding: 2rem;
        border-radius: 0.5rem;
        color: orange;
        font-size: 1.25rem;
        margin-bottom: 2rem;
        display: none;

        &.active {
          display: block;
        }
      }

      label {
        font-size: 12px;
      }

      input[type="submit"] {
        margin-top: 3rem;
      }

      label + input {
        margin-top: 0.5rem;
      }

      input + label:not(.error),
      label.error + label {
        margin-top: 1.5rem;
      }

      label.error {
        margin-top: 0.5rem;
        color: orange;
      }
    }
  }
}
