// Colours
$background: #1b262c !default;
$black: #000000 !default;
$white: #ffffff !default;
$dark-blue: #0f4c75 !default;
$blue: #3282b8 !default;
$light-blue: #bbe1fa !default;
$dark-green: #1c3738 !default;
$green: #2a8d6c !default;
$light-green: #9ed0a5 !default;

// Responsive Variables
$mobile-small: 640px;
$mobile: 768px;
$tablet: 1024px;

$base-font-size: 10px;
